
.banner{
	padding: 10px;
	text-align: center;
	background-color: #0c8a06;
	color: white;
	font-size: 36px;
}

.background{
	background-color: #efefed;
	padding: 30px 30px 30px 30px;
	margin-top: 10px;
}

.TextHeader{
	font-size: 24px;
	color: #242424;
}

body{
	background-color:#242424;
	color: #242424;
	font-family: Arial;
	margin-left: 100px;
	margin-right: 100px;
	width: 60%;
	padding-left: 15%;
}

.Note{
	color: #242424;
}

.link{
	color: #0c8a06;
}

h2	{
	color:#242424;
	font-family: Arial;
	font-size: 32px;
}

.image {
	max-width: 100%;
	height: auto;
	border-radius: 10px 10px 10px 10px;
}

.video{
	max-width: 100%;
	height: auto;
	border-radius: 10px 10px 10px 10px;
}

.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #242424;
  background-image: none;
  color: #d9cda1;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-1:disabled {
  cursor: default;
}
.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
  vertical-align: middle;
}
.btn-1 [hidden] {
  display: none;
}
.btn-1 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
}
.btn-1:hover {
  color: #999;
}

.table1{
	width: 90%;
	margin: 25px;	
	padding: 10px;
	color: #242424;
	font-family: Arial;
}

.table1 thead tr{
	background-color: #0c8a06;
	color: #ffffff;
	text-align: center;
	border: 1px solid;	
}

.table1 tr td {
	border: 2px solid;
	text-align: left;
	padding: 5px;
}

.table1 th{
	border-radius: 8px 8px 8px 8px;
}

footer {
	position: static;
	padding: 3;
	margin: 0;
	color: #ffffff;
	background-color: #0c8a06;
	min-height: 2%;
	margin-top: 10px;
	text-align: center;
}